/* style starts here */


* {
outline: 1px dotted lime;
}


/*PHONE ADJUSTMENTS*/

@media screen and (max-width: 480px) {
body {
    background-color: green;
    }
    
.logo {
    grid-column: 1/3;
    margin-top: 20px;
    text-align: center;
    }
    
.links {
    grid-column: 1/3;
    margin-top: 10px;
    text-align: center;
    }
    16 / 17
    }

/* MAIN CONTENT */

body {
    background-color: black;
    /* change black*/
    
}

.nav {
    background-color: #232322;
    margin: auto;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    }

.logo {
    float: left;
    font-size: 1.5rem;
    padding: 5px;
    color: gray;
    }

/* NAV BAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }

.sidenav a:hover {
    color: #f1f1f1;
    }   

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

/* SLIDE SHOW */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    padding-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* CAPTION TEXT */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* THE DOTS */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* FADING ANIMATION */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* LOGO 2 */
.logo2 {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ABOUT */
.about_container {
    padding-bottom: 200px;

}
h2 {
    color: white;
    text-align: center;  
    padding-top: 100px;
}

.info {
    margin: auto;
    width: 400px;
}

p {
    color: white;
    text-align: center;
    padding-bottom: 5px;
}


/* FOOTER */
.footer {
    background-color: #232322;
}
.foot_logo {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
